* {
  box-sizing: border-box;
}

:root {
  --big: 100px;
}

body {
  padding: 0 20px;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(77, 97, 31);
}
body::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
}
.phoneIconeImg{
  position: absolute;
  right: 0;
}
.phone {
  position: relative;
  height: 100vh;
  width: 100%;
  display: block;
  background-color: rgb(97, 90, 31);
} 

.batterie{
  width: 34.25px;
}

.wifi{
  margin: 0 3px;
  width: 21.4333px;
}

.resaux{
 width: 22.0833px;
}

.notif {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(79, 97, 31);
  border-radius: 20px;
}
.notif__time {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
}

.phoneIcone img {
  height: 100%;
}
.notif__time > h1 {
  margin-top: 90px;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  font-size: var(--big);
  font-weight: 100;
}
.phoneIcone{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  height: 15px;
  width: 100%;
}
.notif__time > h2 {
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 100;
}
.notif__boxes > .box {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  height: fit-content;
  display: block;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 12px;
}
.appIcone {
  width: 50px;
  height: 50px;
  position: relative;
  background-color: #333333;
  border-radius: 10px;
}

.appTitre{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-transform: uppercase;
}

.appInfo{
  margin: 0;
  margin-left: 12px;
  font-weight: 100;
}
/*-------------------------------------------------------------------------------------------------------------*/
.phoneCall {
  position: absolute;
  display: block;
  top: 0;
  color: white;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 20px;
  background-color: purple;
}

.interface {
  width: 100%;
  height: 100%;
}

.nom {
  text-align: center;
  font-size: 4em;
  padding-top: 20%;
}

.ville {
  text-align: center;
  padding-top: 1%;
}

.heure {
  padding-top: 2%;
  padding-left: 2%;
}

.icones_haut {
  position: relative;
  width: 100%;
  height: 20px;
  padding-right: 2%;
}

.boutons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: space-around;
  margin-top: 40vh;
}

.repondre {
  display: flex;
  position: relative;
}

.raccrocher {
  display: flex;
  position: relative;
  margin-left: 100px;
}

.icone_raccrocher {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: red;
}

.icone_repondre {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: green;
}

.phoneCall p {
  position: absolute;
  z-index: 2;
  top: 60px;
  padding-top: 10px;
  width: 80px;
  text-align: center;
}

.raccroche {
  display: none;
  color: white;
}

.repondu {
  display: none;
  color: white;
}