body{
    background-color: red;
    color: white;
}
.commentaire{
    position: relative;
}/*
@keyframes left-to-right { 
    from { transform: translateX(0%) } 
    to { transform: translateX(400%) }  
  }
@keyframes fade{
    from {opacity: 1;}
    to {opacity: 0;}
}*/
